<form action="">
  <app-control label="Title">
    <input type="text" name="title" id="title">
  </app-control>
  <app-control label="Request">
    <textarea name="request" id="request" rows="3"></textarea>
  </app-control>
  <p>
    <!-- <button appButton><span class="icon">&#x27A4;</span>Submit </button> -->
    <button appButton>
      Submit
      <span class=".icon" ngProjectAs="icon"> &#x27A4; </span>
    </button>
    <!-- <button appButton buttonTitle="Submit" buttonIcon="&#x27A4;"></button> -->
  </p>

</form>